<div class="row justify-content-center mb-5 mt-5">
  <h1>Vous avez des questions? Contactez-nous ! </h1>
</div>


<div class="row justify-content-center mb-5 mt-5 pb-5">
  <a href="mailto:jeremymarc@hotmail.fr"> Cliquez sur ce lien pour nous envoyer un mail! </a>
</div>

<div class="row justify-content-center mb-5 mt-5">
<h1 class="pt-5"> Nos experts chatons : </h1>
</div>
<div class="container row justify-content-center mb-5 mt-2">
<ul>
<li>Matthieu DEGRE &emsp;&emsp;     <a href="https://github.com/Matoone">https://github.com/Matoone </a>  </li>
<li>Charlie CARPENE &emsp;&ensp;    <a href="https://github.com/charlie-carpene">https://github.com/charlie-carpene </a></li>
<li>Wejdi HEDIA &emsp;&emsp;&emsp;&emsp;       <a href="https://github.com/whedia">https://github.com/whedia </a></li>
<li>Jérémy MARC &emsp;&emsp;&ensp;&ensp;&ensp;        <a href="https://github.com/JeremyMarc232">https://github.com/JeremyMarc232 </a></li>
</ul>
</div>
