<div class="column text-center mb-5 mt-5">
  <h1>Vous avez des questions? Contactez-nous ! </h1>
  <small>Enfin si c'est des questions intelligentes sinon abstenez-vous.</small>
</div>


<div class="column text-center mb-5 mt-5 pb-5">
  <a href="mailto:jeremymarc@hotmail.fr"> Cliquez sur ce lien pour nous envoyer un mail! </a>
  <small>...ou pas !</small>
</div>

<div class="row justify-content-center mb-5 mt-5">
<h1 class="pt-5"> Nos experts chatons : </h1>
</div>
<div class="container row justify-content-center mb-5 mt-2">
<ul>
<li>Charlie CARPENE &emsp;&ensp;    <a href="https://github.com/charlie-carpene">https://github.com/charlie-carpene </a> &emsp;&emsp;&emsp;&emsp; Lead Sound-FX Designer  </li>
<li>Matthieu DEGRE &emsp;&emsp;     <a href="https://github.com/Matoone">https://github.com/Matoone </a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;Lead After-Effects  </li>
<li>Wejdi HEDIA &emsp;&emsp;&emsp;&emsp;       <a href="https://github.com/whedia">https://github.com/whedia </a> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&ensp;&ensp; Lead Discombobulator Programmer  </li>
<li>Jérémy MARC &emsp;&emsp;&ensp;&ensp;&ensp;        <a href="https://github.com/JeremyMarc232">https://github.com/JeremyMarc232 </a>&emsp;&emsp;&emsp;&emsp;Lead DIV Creative Innovator © Container&Co</li>
</ul>
</div>
