<div class="jumbotron" style="background-image: url(https://cdn.pixabay.com/photo/2017/11/09/21/41/cat-2934720_960_720.jpg)">
  <h2>Bienvenue chez Chaton Project</h2>
  <p>Découvrez nos photos de chatons</p>
</div>



