<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été bloqué à cause de trop nombreuses tentaives de coneexion infructueuses.</p>

<p>Vous pouvez le débloquer en cliquant sur le lien ci-dessous:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
