<!--footer id="footer" class="bg-primary">
  <div class="container">
    <div class="row pt-4 mb-4">
      <div class="col-8 d-flex">
        <span class="mr-3"><a href="https://blog.bootswatch.com" onclick="pageTracker._link(this.href); return false;" class="text-white">Blog</a></span>
        <span class="mr-3"><a href="https://blog.bootswatch.com/rss/" class="text-white">RSS</a></span>
        <span class="mr-3"><a href="https://twitter.com/bootswatch" class="text-white">Twitter</a></span>
        <span class="mr-3"><a href="https://github.com/thomaspark/bootswatch/" class="text-white">GitHub</a></span>
        <span class="mr-3"><a href="../help/#api" class="text-white">API</a></span>
        <span class="mr-3"><a href="../help/#donate" class="text-white">Donate</a></span>
      </div>
      <div class="col-4 text-right">
        <span><a href="#top" class="text-white">Back to top</a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">

        <p>Made by <a href="https://lovers.co" class="text-white">us for you</a>.</p>
        <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE" class="text-white">MIT License</a>.</p>
        <p>Based on <a href="https://getbootstrap.com" rel="nofollow" class="text-white">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow" class="text-white">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow" class="text-white">Google</a>.</p>

      </div>
    </div>
  </div>
</footer-->


<footer class="bg-light">
  <div class="bg-primary">
    <div class="container">
      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">
        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Alors fan de chats autant que nous ?</h6>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </div>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Chaton Project</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Chaton Project est une entreprise très populaire auprès des Hommes, comme des chats. Une histoire d'amour ça ne s'invente pas et là ben... c'est le cas.</p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Nos produits</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Notre sélection</a>
        </p>
        <p>
          <a href="#!">Favoris du site</a>
        </p>
        <p>
          <a href="https://www.estrepublicain.fr/justice/2012/05/24/un-chat-peut-en-cacher-un-autre">Un chat peut en cacher un autre</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <%= link_to "Votre profil", edit_user_registration_path %>
        </p>
        <p>
          <%= link_to "Panier", cart_path(current_cart.id) %>
        </p>
        <p>
          <a href="https://en.wiktionary.org/wiki/discombobulator">Discombobulator wtf is it?</a>
        </p>
      </div>
      <!-- Grid column -->
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i>47 rue des allumés de la life, 69005 Lyon, France</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> chaton@petit-minou.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> + 33 4 23 45 67 88 <small>Mais ne nous appelez pas, on aime pas trop le téléphone.</small></p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <blockquote>
      "Soyez fou, soyez footer"
    </blockquote>
    © 2020 Copyright:<a href="https://petits-chatons-by-lyon-thp.herokuapp.com/">Petits chats choupinou</a>
  </div>
  <!-- Copyright -->
</footer>
