<footer id="footer" class="bg-primary">
  <div class="container">
    <div class="row pt-4 mb-4">
      <div class="col-8 d-flex">
        <span class="mr-3"><a href="https://blog.bootswatch.com" onclick="pageTracker._link(this.href); return false;" class="text-white">Blog</a></span>
        <span class="mr-3"><a href="https://blog.bootswatch.com/rss/" class="text-white">RSS</a></span>
        <span class="mr-3"><a href="https://twitter.com/bootswatch" class="text-white">Twitter</a></span>
        <span class="mr-3"><a href="https://github.com/thomaspark/bootswatch/" class="text-white">GitHub</a></span>
        <span class="mr-3"><a href="../help/#api" class="text-white">API</a></span>
        <span class="mr-3"><a href="../help/#donate" class="text-white">Donate</a></span>
      </div>
      <div class="col-4 text-right">
        <span><a href="#top" class="text-white">Back to top</a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">

        <p>Made by <a href="https://lovers.co" class="text-white">us for you</a>.</p>
        <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/master/LICENSE" class="text-white">MIT License</a>.</p>
        <p>Based on <a href="https://getbootstrap.com" rel="nofollow" class="text-white">Bootstrap</a>. Icons from <a href="https://fontawesome.com/" rel="nofollow" class="text-white">Font Awesome</a>. Web fonts from <a href="https://fonts.google.com/" rel="nofollow" class="text-white">Google</a>.</p>

      </div>
    </div>
  </div>
</footer>
