<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Chaton Project</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Votre Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contactez-nous</a>
      </li>
    </ul>
    <div class="dropdown">
       <ul>

           <button type="button" class="btn btn-danger">Déconnexion</button>

         
        <button type="button" class="btn btn-info">Panier</button>
          <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Connexion
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a  class="dropdown-item", class="nav-link"> S'inscrire </a>
              <a class="dropdown-item", class="nav-link"> Se connecter</a>
            </div>
      </ul>
    </div>


  </div>
</nav>



